@use './shared/styles/base/reset';

html,
body {
  height: 100%;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}

#root {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}
